* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* css variables */
:root {
   --primary-color: #888888;
   --secondary-color: #aaa;
   --main-bg-color: #0f0f0f;
   --search-box-color: #121212;
   --navbar-bg-color: #303030;
   --color-white: #fff;
}
body {
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   line-height: 1.4;
   background-color: var(--main-bg-color);
}

/* general styles */
a,
input,
span,
button {
    display: inline-block;
}
button {
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
img {
    max-width: 50px;
    border-radius: 50%;
}
input {
    border: none;
}
/* margin */
   /* margin right */
.mr-1 {
    margin-right: 0.8rem;
}
.mr-2 {
    margin-right: 1.1rem;
}
.mr-3 {
    margin-right: 1.4rem;
}
.mr-4 {
    margin-right: 1.7rem;
}
.mr-5 {
    margin-right: 2rem;
}
 /* margin left */
.ml-1 {
   margin-left: 0.8rem;
}
.ml-2 {
   margin-left: 1.1rem;
}
.ml-3 {
   margin-left: 1.4rem;
}
.ml-4 {
   margin-left: 1.7rem;
}
.ml-5 {
   margin-left: 2rem;
}

   /* maring bottom */
.mb-1 {
   margin-bottom: 0.8rem;
}
.mb-2 {
   margin-bottom: 1.1rem;
}
.mb-3 {
   margin-bottom: 1.4rem;
}
.mb-4 {
   margin-bottom: 1.7rem;
}
.mb-5 {
   margin-bottom: 2rem;
}
  /* maring top */
.mt-1 {
   margin-top: 0.8rem;
}
.mt-2 {
   margin-top: 1.1rem;
}
.mt-3 {
   margin-top: 1.4rem;
}
.mt-4 {
   margin-top: 1.7rem;
}
.mt-5 {
   margin-top: 2rem;
}

/* padding */
   /* padding right */
.pr-1 {
   padding-right: 0.8rem;
}
.pr-2 {
   padding-right: 1.1rem;
}
.pr-3 {
   padding-right: 1.4rem;
}
.pr-4 {
   padding-right: 1.7rem;
}
.pr-5 {
   padding-right: 2rem;
}
    /* padding left */
.pl-1 {
   padding-left: 0.8rem;
}
.pl-2 {
   padding-left: 1.1rem;
}
.pl-3 {
   padding-left: 1.4rem;
}
.pl-4 {
   padding-left: 1.7rem;
}
.pl-5 {
   padding-left: 2rem;
}
   /* padding bottom */
.pb-1 {
   padding-bottom: 0.8rem;
}
.pb-2 {
   padding-bottom: 1.1rem;
}
.pb-3 {
   padding-bottom: 1.4rem;
}
.pb-4 {
   padding-bottom: 1.7rem;
}
.pb-5 {
   padding-bottom: 2rem;
}
   /* padding top */
.pt-1 {
   padding-top: 0.8rem;
}
.pt-2 {
   padding-top: 1.1rem;
}
.pt-3 {
   padding-top: 1.4rem;
}
.pt-4 {
   padding-top: 1.7rem;
}
.pt-5 {
   padding-top: 2rem;
}

/* icon size */
.icon-size-2 {
   display: inline-block;
   font-size: 1.4rem;
}
/* flexbox */
.flex {
   display: flex;
}
.flex--justify-content-end {
   justify-content: flex-end;
}
.flex--justify-content-space-between {
   justify-content: space-between;
}

.flex--align-items-center {
   align-items: center;
}
.flex--justify-content-center {
   justify-content: center;
}
.flex-wrap {
   flex-wrap: wrap;
}
/* header navbar */
.header {
   position: fixed;
   width: 100%;
   background-color: rgba(28,28,28,1);
   padding: 0.8rem 2rem;
   z-index: 0;
   
}
.header .nav .nav__list-left {
   flex-grow: 1;
}
.header .nav .nav__form-container {
   flex-grow: 2;
}
.header .nav .nav__list-right {
   flex-grow: 1;
}
   /* header navbar hamburger menu and youtube logo */


.header .nav .nav__list-left-hamburger {
   cursor: pointer;
}
.header .nav .nav__list-left-hamburger .nav__list-left-bars{
   background-color: var(--color-white);
   width: 25px;
   height: 3px;
   margin-bottom: 0.2rem;
  
}
.header .nav .nav__list-left-link-logo {
   color: #ff0000;
    
}

.header .nav .nav__list-left-link-text {
   font-size: 1.4rem;
   color: var(--color-white);   
}
   /* header navbar search bar */
.header .nav__form-container {
   max-width: 600px;
}
.header .nav__form-container .nav__form {
    width: 85%;
}
.header .nav__form-container .nav__form-search-bar {
   display: flex;
    
   width: 10%;
   height: 33px;
   background-color:  rgba(49, 47, 47, 0.9);
   color: var(--color-white);
}
.header .nav__form-container .nav__form-input {
   background-color: var(--search-box-color);
   display: block;
   width: 100%;
   font-size: 1.1rem;
   color: var(--color-white);
   padding: 0.4rem 0.5rem;
   border: none;
}
   /* header navbar right side of navbar where account image details and create video, notifications bars are */
.header .nav__list-right img{
   max-width: 36px;
}
.header .nav__list-right li {
   font-size: 1.3rem;
}
.header .nav__list-right a {
   color: var(--color-white);
}

/* main content where main video and sidebar videos contains */
.main {
   padding-top: 6rem;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-template-areas: 
   "main-video  suggestion-videos"
   "main-video  suggestion-videos"
   "main-video__channel-comments  suggestion-videos"
   "main-video__channel-comments  suggestion-videos";
   grid-column-gap: 30px;
   width: 95%;
   max-width: 1260px;
   margin: 0 auto;
   
}
.main-video__channel-comment-container {
   grid-area: main-video__channel-comments;
   
}
.suggestion-videos {
   grid-area: suggestion-videos;
   
}
.main-video {
   grid-area: main-video;  
}
   /* main video captions likes dislikes save report share subscribe btn and logo of channel */
.main-video .main-video__container iframe{
   width: 100%;
}
.main-video .main-video__container .main-video__caption {
   color: var(--color-white);
   font-size: 1.3rem;
}

.main-video .main-video__details {
   border-bottom: 1px solid var(--navbar-bg-color);
   color: var(--primary-color);
}

.main-video .main-video__details .main-video__details-like-dislike-container {
   border-bottom: 3px solid var(--primary-color);
   font-size: 1.1rem;
}
.main-video .main-video__details .main-video__details-like-dislike-container  a {
   color: var(--primary-color);
}

.main-video .main-video__details .main-video__details-share-save-report a {
   color: var(--primary-color);
}
.main-video .main-video__details .main-video__details-like-dislike-container .main-video__details-like {
   text-align: center;
}
   /* channel  img, buttn */
.main-video__channel {
   border-bottom: 1px solid var(--navbar-bg-color);
}
.main-video__channel .main-video__channel-name {
   color: var(--color-white);
}
.main-video__channel .main-video__channel-subscription-amount {
   font-size: 0.9rem;
   color: var(--primary-color);
       
}
.main-video__channel .main-video__channel-subscribe-btn {
   background-color: var(--navbar-bg-color);
   color: var(--primary-color);
   padding: 0.7rem 1.3rem;
}
.main-video__channel .main-video__channel-notification-bell {
   font-size: 1.5rem;
   vertical-align: center;
   color: var(--primary-color);
}
/* main video comments */
   /* comment amount and form to submit comment */
.main-video__channel-comment-container img {
   max-width: 40px;
   max-height: 40px;
}
.main-video__channel-comment-container .main-video__channel-comment-amount {
   color: var(--color-white);
}
.main-video__channel-comment-container .main-video__channel-comment-sortby {
   color: var(--primary-color);
}
   /* form to submit comment */
.main-video__channel-comment-container .main-video__channel-add-comment-form {
   flex-grow: 1;
}
.main-video__channel-comment-container .main-video__channel-add-comment-input {
   background-color: transparent;
   width: 100%;
   color: var(--color-white);
   font-size: 1.1rem;
   border-bottom: 1px solid var(--navbar-bg-color);
}

   /* user comments */
.main-video__channel-comment-container .main-video__channel-comment-author {
   color: var(--color-white);
}
.main-video__channel-comment-container .main-video__channel-comment-date {
   font-size: 0.9rem;
   color: var(--primary-color);
}
.main-video__channel-comment-container .main-video__channel-comment {
   color: var(--color-white);
}
.main-video__channel-comment-container .main-video__channel-comment-like-dislike-reply a{
   color: var(--primary-color);
}
.main-video__channel-comment-container .main-channel-video__comment-replies {
   color: #3ea6ff;
}




/* suggestion videos on the side bar */

.suggestion-videos .suggestion-videos__chat-replay {
   background-color: var(--navbar-bg-color);
   color: #ffffffb3;
   padding: 0.5rem 0.6rem;
   text-align: center;
   font-size: 0.8rem;

}
.suggestion-videos .suggetion__videos-autoplay {
   color: #0000ff;
}
.suggestion-videos .suggestion-videos__upnext {
   color: var(--color-white);
}
.suggestion-videos .suggestion-videos__autoplay-paragraph {
   color: var(--primary-color);
}

.suggestion-videos .suggestion__videos-main-video iframe {
    max-width: 170px;
    max-height: 95px; 
}
.suggestion-videos .suggestion-videos-main-text-box {
   align-self:flex-start;
   width: 60%;
}
.suggestion-videos .suggestion__videos-main-video-title {
   color: var(--color-white);
   font-size: 14px;
}  
.suggestion-videos .suggestion__videos-main-video-author, .suggestion__vidoes-main-video-views-date {
   color: var(--primary-color);
   font-size: 0.8rem;
}
.suggestion-videos .suggestion__videos-show-more {
   border: 1px solid #0000ff;
   color: #0000ff;
   cursor: pointer;
   padding: 0.7rem 2rem;
   text-align: center;
   display: none;
}




.side-menu-container {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0rem;
   background-color: rgba(49, 47, 47, 0.9);
   display: none;
}

.side-menu-container img {
   max-width: 30px;
}
.side-menu-container .side-menu {
   z-index: 1;
   background-color: rgba(39, 38, 38, 1);
   width: 260px;
   -webkit-transition: transform 2s;
   transition:  transform 2s;
   transform: translateX(-260px);
   height: 100%;
   overflow-y: scroll;
}
.side-menu-container .side-menu__hamburger {
   cursor: pointer;
}
.side-menu-container .side-menu__bars {
   width: 20px;
  
   height: 2px;
   background-color: var(--color-white);
   margin-bottom: 0.2rem;
}
.side-menu-container .side-menu__hamburger .side-menu__bars:last-child {
   margin-bottom: 0;
}
.side-menu-container .side-menu__link-text {
   font-size: 1.1rem;
   color: var(--color-white);
}
.side-menu-container .side-menu__link-logo{
   color: var(--color-white);
   padding-right: 0.5rem;
}

.side-menu-container .boder-bottom-grey{
   border-bottom: 1px solid var(--primary-color);
}
.side-menu-container .fa {
   cursor: pointer;
   font-size: 1.5rem;
   color: var(--primary-color);
}
.side-menu-container .fa-youtube-play {
   color:#ff0000;
}
.side-menu-container .side-menu__icon-text {
   color: var(--color-white);
}
.side-menu-container .side-menu__subscriptions {
   color: var(--primary-color);
}
/* side bard links */
.side-menu-container .nav__list-top, .nav__list-bottom {
   max-width: 80%;
   margin: 0 auto;
}
.side-menu-container .nav__list-item, .nav__list-link {
   color: var(--primary-color);
   margin-right: 0.6rem;
   font-size: 0.9rem;
}
.side-menu-container .youtube-copyright {
   color: rgb(109, 106, 106);
   font-size: 0.9rem;
}

/* styling side menu scrollbar  */
.side-menu-container ::-webkit-scrollbar {
   width: 10px;
 }

.side-menu-container   ::-webkit-scrollbar-thumb {
   background: var(--navbar-bg-color);
 }
 /* hover on links */
.side-menu-container .hover-on:hover {
   background-color: rgb(58, 57, 57);
/* media queries */

@media(max-width: 1050px) {
   .main {
       grid-template-areas: 
       "main-video main-video"
       "main-video main-video"
       "suggestion-videos suggestion-videos"
       "main-video__channel-comments main-video__channel-comments"
       "main-video__channel-comments main-video__channel-comments";
   }
   .main .main-video {
       width: 95%;
       max-width: 650px;
       margin: 0 auto;
   }
   .suggestion-videos .suggestion__videos-show-more {
       display: block;
   }
}

@media(max-width: 750px) {
.header {
    padding: 0.6rem 1rem;
}
.header .nav .nav__list-left-hamburger .nav__list-left-bars {
   width: 20px;
   height: 2px;
}
.header .nav .nav__list-left-link-text {
   font-size: 1.3rem;
}
.header .nav .nav__list-left-item {
   padding-right: 1.2rem;
} 
.header .nav .nav__list-left-link-logo {
   padding-right: 0.3rem;
}
.header .nav .nav__form-container {
    display: none;
} 

.header .nav .nav__list-right .pr-5 {
    padding-right: 2rem
}
.header .nav__list-right li {
    font-size: 1.2rem;
}
.main-video .main-video__details-time {
    display: none;
}
.side-menu-container .side-menu {
    width: 210px;
}
.side-menu-container .fa {
    font-size: 1.1rem;
}
.side-menu-container .side-menu__link-text  {
    font-size: 0.9rem;
}

}

@media(max-width: 500px){
   .header .nav .nav__list-right .pr-5 {
       padding-right: 1rem
   }
   .main-video .main-video__details {
       font-size: 0.8rem;
   }
   .main-video .icon-size-2 {
       font-size: 0.9rem;
   }
   .main-video .main-video__details-share-save-report a {
       margin-right: 0.8rem;
   }
   .main-video .main-video__details .main-video__details-like-dislike-container {
        display: flex;
   }
   .main-video__channel .main-video__channel-subscribe-btn {
       padding: 0.5rem 0.9rem;
   }
   .main-video__channel .main-video__channel-logo {
       max-width: 40px;
       max-height: 40px;
   }
}
© 2021 GitHub, Inc.